body{
    background-image: linear-gradient(to right, #232526 0%, #434343 50%);
}

h2{
    color: white;
}

.btn-grad {
    margin: 10px;
    padding: 5px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;            
    border-radius: 5px;
}

.btn-grad:hover {
    background-position: right center;
    color: #35393a;
    text-decoration: none;
}

.navbar{
    background-color: #232526;
}

.mb-3, .my-3{
    margin-bottom: -1rem !important;
    padding-bottom: 20px;
}

.icon{
    font-size: x-large;
    color: white;
    transition: 0.5s;
    margin-left: 50px;
}

.icon:hover{
    color: #35393a;
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.card{
    box-shadow: 5px 10px 20px -3px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.card:hover{
    box-shadow: 10px 10px 30px -3px black;
}
         