.contenedor{
    display:flex;
    justify-content: center;
}

.cuadro{
    width: 250px;
    height: 250px;
    margin-left: 5px;
    cursor: pointer;
}

.negro{
    background-color: black;
}
.marron{
    background-color: brown;
}
.celeste{
    background-color: cornflowerblue;
}